.ron{
  color: aquamarine;
}
/* .list-container ul{
 display: flex;
}  */
.list-container ul li{
line-height: 25px;
}
.list-container{
  margin-top: 20px;
}
.row{
  display: flex;
}
.bag{
  background-color: aqua;
  height: 50px;
  width: 100%;
}
.player{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity)) !important  ;
  height: 6rem;
  color: white;
}

.rhap_time,  .rhap_current-time{
  color: white !important ;
}
::selection{
  background-color:  transparent;
  color: turquoise;
}